trigger:
  branches:
    include:
      - main

stages:
- stage: Build
  jobs:
  - job: NodeBuild
    pool:
      vmImage: ubuntu-latest
    steps:
    # Install Node.js
    - task: NodeTool@0
      inputs:
        versionSpec: '20.x'
      displayName: 'Install Node.js'

    # Checkout code
    - checkout: self

    # Install dependencies and build
    - task: CmdLine@2
      displayName: 'npm install and build (ignore peer deps)'
      inputs:
        script: |
          cd frontend
          npm install --legacy-peer-deps
          npm run build