trigger:
  branches:
    include:
      - main

stages:
- stage: Build
  jobs:
  - job: NodeBuild
    pool:
      vmImage: ubuntu-latest
    steps:
    # Install Node.js
    - task: NodeTool@0
      inputs:
        versionSpec: '20.x'
      displayName: 'Install Node.js'

    # Checkout code (important!)
    - checkout: self

    # Install dependencies and build
    - task: CmdLine@2
      displayName: 'npm install and build'
      inputs:
        script: |
          npm install
          npm run build
        workingDirectory: 'frontend'   # <-- yaha folder name jahan package.json hai